/****************************************
*Titre:		Formulaire CSS				*
*Auteur:	Maxime Montandon			*
*Date:		25.01.2021					*
*Lieu:		Force Aérienne Payerne		*
****************************************/

/****************
*	Corp Page	*
****************/
body
{
	background-color: rgb(155,200,255);
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	color: #090909;	
}

#page
{
	width: 700px;
	margin: auto; 
	background-color: rgba(09,09,09,0.3);
}

/****************
*	En-Tête		*
****************/

header
{
	display: flex;
	flex-direction: row;
	padding: 0px;
}

img
{
	width: 80px;
	height: 80px;
	margin-top: 20px;
	margin-left: 125px;
}

header h1
{
	font-size: 50px;
	text-align: center;
}

/****************
*	Section		*
****************/

section
{
	padding-top: 20px;
	padding-left: 10px;
}

section h2
{
	text-align: left;
	font-size: 30px;
	margin-top: 0px;
}

/****************
*	Pied		*
****************/

footer
{
	text-align: right;
	font-size: 12px;
}

footer a
{
	text-decoration: none;
	color: purple;
	font-weight: 800;
}

footer a:hover
{
	text-decoration: underline;
	color: red;
	font-size: 15px;
	font-weight: 600;
}

